// Color palette
$yellow:         #F6FC3D;
$blue:           #3891A6;
$feldgrau:       #4C5B5C;
$red:            #DB5461;
$bittersweet:    #E3655B;
$mint:           #59C9A5;
$coral:          #EF6F6C;
$ylmblue:        #465775;
$feldgrau2:      #5B6C5D;
$orchid:         #DC6ACF;

// Neutrals
$grey1:          #F8F9FA;
$grey2:          #E9ECEF; 
$grey3:          #DEE2E6; 
$grey4:          #CED4DA;
$grey5:          #ADB5BD;
$grey6:          #6C757D;
$grey7:          #495057;
$grey8:          #343A40;
$grey9:          #212529;