#banner {
  align-items: center;
  // background-image: url(../pages/work/assets/banner.jpg);
  display: flex;
  // padding: 0;
  // background-attachment: fixed;
  // background-position: 50%;
  // background-repeat: no-repeat;
  // background-size: cover;
  border-bottom: 0 !important;
  cursor: default;
  height: 60vh;
  margin-bottom: 0;
  max-height: 32em;
  min-height: 22em;
  position: relative;
  top: 0;
  color: white;
  .major {
    height: 75vh;
    min-height: 30em;
    max-height: 50em;
  }
}

// #banner:after {
//   content: '';
//   display: block;
//   height: 100%;
//   left: 0;
//   opacity: 0.85;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   // z-index: 1;
// }

#banner hgroup {
  z-index: 30;
}

.something {
  color: white;
  z-index: 30;
}

.heading {
  border-bottom: $underline;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 3.75rem;
}
