@import '../styles/variables';

// .container {
//     margin: auto;
//     max-width: 1004px;
// }

.bottom-nav {
    font-size: 11px;
    color: $grey5;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    margin-top: 5rem;
    a {
        color: $grey7;
        padding: 0.75rem;
        text-decoration: none;
    }
}

.home-link {
    &:hover, &:focus, &:active {
        color: $blue;
    }
}

.work-link {
    &:hover, &:focus, &:active {
        color: $orchid;
    }
}
.about-link {
    &:hover, &:focus, &:active { 
        color: $mint;
    }
}

.resume-link {
    &:hover, &:focus, &:active {
        color: $coral;
    }
}