@import '../styles/variables';

// .container {
//     margin: auto;
//     max-width: 1004px;
// }

.bottom-nav {
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    a {
        color: #666;
        padding: 0.75rem;
        text-decoration: none;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: rgba(0, 0, 0, 0.3) !important;
}

.home-link {
    &:hover, &:focus, &:active {
        color: $blue;
    }
}

.work-link {
    &:hover, &:focus, &:active {
        color: $orchid;
    }
}
.about-link {
    &:hover, &:focus, &:active { 
        color: $mint;
    }
}

.resume-link {
    &:hover, &:focus, &:active {
        color: $coral;
    }
}