.container {
    margin: auto;
    max-width: 1004px;
    font-family: 'Figtree';
}

// .yellowed {
//   border-top: 6px solid;
//   border-image: url(../images/Text-block-pre.svg);
//   border-image-width: 274;
//   border-image-repeat: space;
// }