.container {
  margin: auto;
  max-width: 1004px;
}

p {
  line-height: 1.4;
}

article {
  margin-bottom: 2rem;
}

.heading {
  border-bottom: #CEE6EA;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $grey8;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.work-index {
  padding: 3rem;
}

h3 {
  color: $heading;
  font-weight: 400;
  margin: 3rem 0 1rem; 
}

ul {
  list-style-type: square;
  padding-left: 1rem;
}

li::marker {
  color: $coral;
  font-size: 18px;
}

// Tile
.preview-tile {
  position: relative;
}

.tile-overlay {
  z-index: 20;
  opacity: 0.99;
  background-color: $yellow;
}

.tile-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.tile-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.preview-tile:hover .tile-image {
  opacity: 0.3;
} 

.preview-tile:hover .tile-middle {
  opacity: 1;
}

.tile-middle h2 {
  background-color: transparent	;
  color: #212529;
  font-size: 24px;
  padding: 16px 32px;
  text-transform: uppercase;
}