.container {
  margin: auto;
  max-width: 1004px;
}

p {
  line-height: 1.4;
}

article {
  margin: 0;
}

.heading {
  border-bottom: #CEE6EA;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $grey8;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.work-index {
  padding: 0;
}

h3 {
  color: $heading;
  font-weight: 400;
  margin: 3rem 0 1rem; 
}

ul {
  list-style-type: square;
  padding-left: 1rem;
}

li::marker {
  color: $coral;
  font-size: 18px;
}