@import '../styles/variables';

.site-title {
    font-size: 1.5rem;
    color: $grey6;
    margin: 0;
}

.nav-bar {
    background-color: $grey2;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-link-item {
    padding-right: 2rem;

    a {
        text-decoration: none;
    }
}

.nav-link-text {
    color: $grey6;
}

.home-link {
    &:hover, &:focus, &:active {
        color: $blue;
    }
}

.work-link {
    &:hover, &:focus, &:active {
        color: $orchid;
    }
}
.about-link {
    &:hover, &:focus, &:active { 
        color: $mint;
    }
}

.resume-link {
    &:hover, &:focus, &:active {
        color: $coral;
    }
}